<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to 'MyCloud', root_path, class:"navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Repositories', repos_path, class:"nav-link active" if user_signed_in? %>
        </li>
        <li class="nav-item">
          <%= link_to 'My profile', profile_path(current_user.to_param), class:"nav-link active" if user_signed_in? %>
        </li>
      </ul>
      <div class="d-flex">
          <% if user_signed_in?  %>
          <div class="btn-group">
            <button type="button" class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
              <% if current_user.avatar.present? %>
                <%= image_tag(current_user.avatar.variant(resize_to_fill: [150, 150]), class: "avatar-sm rounded-circle",  alt:"Avatar") %>
              <% else %>
                    <%= image_tag("https://png.pngtree.com/png-vector/20220608/ourmid/pngtree-user-mysterious-anonymous-account-vector-png-image_4816288.png", class:"avatar-sm img-thumbnail rounded-circle",  alt:"Avatar") %>
              <% end %>
              <%= current_user.username %>
            </button>
            <ul class="dropdown-menu dropdown-menu-lg-end">
              <li>
                <%= link_to 'Sign out', destroy_user_session_path, class:"dropdown-item", method: :delete, data: { confirm: "Are you sure?" } %>
                <%= link_to 'Edit profile', edit_user_registration_path, class:"dropdown-item" %>
              </li>
            </ul>
          </div>
          <% else %>
            <%= link_to 'Sign in', new_user_session_path, class:"btn btn-outline-light me-2" %>
            <%= link_to 'Sign up', new_user_registration_path, class:"btn btn-outline-light me-2" %>
          <% end %>
      </div>
    </div>
  </div>
</nav>